.container {
    width: 100vw;
    height: 100vh;
    background: #2F4F4F;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.novasenhabox {
    width: 25vw;
    height: 20vh;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.inputs input{
    margin: 0% 0% 2% 0%;
}

a {
    margin-left: 35%;
}

body {
    margin: 0%;
}